
#map {

    height: 92%;
    top:-20px;


}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*
.btn-space {
    margin-right: 70px;
}
*/


